@import "styles/_variables.scss";

.ListMessage {
  transition: .3s;
  padding: $spacing-medium;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: $color-grey-lighter;
    transition: .3s;
  }
}

.ListMessage-FirstLine {
  margin-bottom: $spacing-small;
  display: flex;
  justify-content: space-between;
}

.ListMessage-FirstLine--text {
  > .username {
    font-weight: 600;
  }

  > .date {
    font-size: 12px;
    color: $color-grey;
  }
}

.ListMessage-FirstLine--badge {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;

  user-select: none;

  width: 35px;
  padding: $spacing-small;

  border: none;
  border-radius: .5em;

  &.Badge-private {
    color: white;
    background-color: $color;
  }

  &.Badge-public {
    color: white;
    background-color: $color-grey;
  }
}