@import "styles/_variables.scss";

.Form {
  background-color: $color-lightest;
  padding: $spacing-medium;

  > div {
    color: $color;
    font-weight: 600;
    margin-bottom: $spacing-small;
  }

  .error {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
  }
}

.Form-clickable {
  display: flex;
  justify-content: flex-end;
}