@import "styles/_variables.scss";

.List {
  > .Message {
    border-bottom: 1px solid $color-grey-light;

    &:last-child {
      border-bottom: none;
    }
  }
  
  > .text {
    padding: $spacing-medium;
    text-align: center;
  }
}

.List-blur {
  filter: blur(.2em);
}