@import "styles/_variables.scss";

.Message {
  padding: $spacing-medium;

  display: flex;
  flex-direction: column;
}

.Message-FirstLine {
  margin-bottom: $spacing-small;
  display: flex;
  justify-content: space-between;
}

.Message-FirstLine--text {
  > .username {
    font-weight: 600;
  }

  > .date {
    font-size: 12px;
    color: $color-grey;
  }
}

.Message-FirstLine--badge {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;

  width: 35px;
  padding: $spacing-small;

  border: 1px solid $color-grey-light;
  border-radius: .5em;
}