// _variables.scss

$spacing-big: 2em;
$spacing-medium: 1em;
$spacing-small: .5em;

$color: rgb(245, 107, 42);
$color-light: rgba($color, .6);
$color-lighter: rgba($color, .3);
$color-lightest: rgba($color, .1);

$color-grey: rgb(117, 124, 129);
$color-grey-light: rgb(224,231,236);